{% extends 'base.html' %}
{% block body %}

<table class="table table-striped">

    <tr><th>Melon Name</th><th>Quantity</th><th>Price</th><th>Total</th></tr>
    
    {% for k, v in melons.iteritems() %}
        <tr>
            <td>{{ v.melon.common_name }}</td>
            <td>{{ v.count }}</td>
            <td>{{ '%0.2f' % v.melon.price }}</td>
            <td>{{ v.melon.price * v.count }}</td>
        </tr>
    {% endfor %}

</table>
<h3>Total: $ {{ '%0.2f' % total }}</h3>
<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
{% endblock %}
